.Home {
  display: block;
  margin-top: 90px;
  text-align: justify;
  width: 100%;
  height: auto;
  &__Content,
  &__PicturesCont {
    margin: 0 auto;
    width: 1000px;
  }
  &__Item,
  &__Poly {
    margin: 40px auto 20px auto;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
  }
  &__Video {
    margin: 10px auto 20px auto;
  }
  &__VideoMob,
  &__CarouselMob {
    display: none;
  }
  &__Paragraph {
    width: 1000px;
    margin: 0 auto;
    color: rgb(80, 71, 71);
    line-height: 1.6;
    font-size: 19px;
    word-spacing: 2px;
  }
  &__Column,
  &__SecondColumn {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__TextOne,
  &__TextTwo,
  &__TextThree {
    margin: 20px 0;
    word-wrap: break-word;
    color: rgb(136, 125, 125);
    line-height: 1.6;
    font-size: 17px;
    word-spacing: 2px;
  }
  &__PaleOne,
  &__PaleTwo,
  &__PaleThree {
    margin: 10px 5px;
    padding: 7px 10px;
    width: auto;
    height: auto;
    transform: skew(-10deg);
    background: #bd0808;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  &__PicturesCont {
    display: flex;
    margin: 40px auto;
    justify-content: space-between;
    height: auto;
  }
  &__Picture {
    background: no-repeat center;
    background-size: cover;
    width: 622px;
    height: 156px;
  }
  &__Button {
    width: 280px;
    background: rgb(189, 25, 25);
    height: 40px;
    margin: 40px auto 0;
    color: white;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: rgb(99, 4, 4);
    }
  }
  &__ElementPoly {
    margin: 0;
    width: 100vw;
    color: white;
    font-size: 30px;
    font-weight: 600;
    height: auto;
    background: linear-gradient(180deg, rgb(135, 7, 7), rgb(255, 11, 11));
  }
  &__Element {
    text-align: center;
    margin: 40px 5px;
    padding: 5px 0;
  }
  &__Poly {
    margin: 10px auto;
  }
}

@media only screen and (max-width: 999px) {
  .Home {
    margin-top: 0;
    width: 100vw;
    &__Video,
    &__Carousel {
      display: none;
    }
    &__VideoMob,
    &__CarouselMob {
      margin: 0;
      display: block;
    }
    &__Content {
      margin: 0;
      width: 100vw;
    }
    &__Column,
    &__SecondColumn {
      width: 100vw;
    }
    &__Paragraph {
      width: 96vw;
    }
    &__PicturesCont {
      display: block;
      width: 96vw;
    }
    &__Picture {
      width: 96vw;
      height: 24vh;
    }
    &__Button {
      width: 250px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .Home {
    margin-top: 0;
    width: 100vw;
    &__Video,
    &__Carousel {
      display: none;
    }
    &__VideoMob,
    &__CarouselMob {
      margin: 0;
      display: block;
    }
  }
}
