.BenefitsCard {
  display: grid;
  width: 100vw;
  background: rgb(237, 232, 232);
  &__Column,
  &__Name {
    width: 1000px;
    margin: 12px auto;
    display: flex;
    justify-content: space-evenly;
  }
  &__Name {
    font-size: 35px;
    font-weight: 700;
  }
}
