.Printer {
  margin: 100px 10px 30px 10px;
  width: 1000px;
  &__Company {
    border-top: 2px solid red;
  }
}
@media only screen and (max-width: 768px) {
  .Printer {
    width: 94vw;
    text-align: justify;
    margin: 0 10px;
  }
}
