.Header {
  border-bottom: 2px solid black;
  background: linear-gradient(#e6e4e4, #fcfcff);
  display: flex;
  min-width: 100vw;
  justify-content: center;
  position: fixed;
  z-index: 5000;
  &__Printer,
  &__Granulation,
  &__Equipment,
  &__Services,
  &__Company {
    cursor: pointer;
    padding: 30px;
    height: 30px;
    &:hover {
      background: rgb(94, 7, 7);
      color: rgb(240, 228, 228);
      transition: 500ms;
    }
    &--active {
      background: rgb(94, 7, 7);
      color: rgb(240, 228, 228);
      border-right: 1px solid black;
    }
    &--reactive {
      background: rgb(94, 7, 7);
      color: rgb(240, 228, 228);
      border-right: 1px solid black;
    }
  }
  &__Logo {
    display: none;
  }
  &__Contact {
    cursor: pointer;
    padding: 30px;
    height: 30px;
    &--active {
      background: rgb(36, 1, 1);
      color: rgb(255, 255, 255);
      border-right: 1px solid black;
    }
  }
}
@media (max-width: 768px) {
  .Header {
    display: grid;
    position: relative;
    &__Printer,
    &__Granulation,
    &__Equipment,
    &__Services,
    &__Company {
      display: none;
      position: relative;
      z-index: 100;
      text-align: center;
      padding: auto;
      border-top: black 2px solid;
      height: 1px;
      font-size: 20px;
      width: 100vw;
      &--active {
        display: block;
      }
    }
    &__Logo {
      z-index: 101;
      display: block;
      position: absolute;
      top: 30px;
      right: 50px;
      width: 45px;
      height: 45px;
      padding-bottom: 0px;
    }
    &__Contact {
      width: 100vw;
      text-align: center;
    }
  }
}
